body {
    height: 100%;
}

h1 {
    text-align: center;
}

.start {
    width: 200px;
    height: 100px;
}

.button-div {
    margin-bottom: 15px;
}

footer {
    margin-top: 40px
}

h2 {
    color: red;
}